	<footer class="site-wide footer">
		<div class="wrap">
			<div class="copyright">
				<p>Copyright {{ site.time | date: '%Y' }} Thad Ardeth Bloom</p>
			</div>
			<div class="social">
				<a href="https://github.com/thadbloom" target="_blank">
					<i class="fa fa-github"></i>
				</a>
				<a href="https://twitter.com/thadbloom" target="_blank">
					<i class="fa fa-twitter"></i>
				</a>
				<a href="https://www.linkedin.com/in/thadbloom" target="_blank">
					<i class="fa fa-linkedin"></i>
				</a>
			</div>
		</div><!--.wrap-->
	</footer><!--.site-wide.footer-->
</div><!--.site-->

{% include scripts.html %}	
</body>
</html>
