<div class="sharing">
	Share on:
	<a class="js-social-share fa-stack fa-lg" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	</a>
	<a class="js-social-share fa-stack fa-lg" target="_blank" href="https://twitter.com/intent/tweet/?text={{page.title}}&url={{site.url}}{{page.url}}&via=thadbloom">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	</a>
	<a class="js-social-share fa-stack fa-lg" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title={{page.title}}&source={{page.title}}&summary={{ post.excerpt | remove: '<p>' | remove: '</p>' }}">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
	</a>
	<a class="js-social-share fa-stack fa-lg" target="_blank" href="http://www.reddit.com/submit/?url={{site.url}}{{page.url}}">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-reddit fa-stack-1x fa-inverse"></i>
	</a>
</div>
