/* Custom
   ========================================================================== */

@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:700');

html, body {
    height: 100%;
}

body {
    text-align: center;
    color: #e1e1e1;
    background: #111;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

.content {
    display: inline-block;
}

h1 {
    font-family: 'Ubuntu Mono', monospace;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    font-size: 3rem;
    margin: 0;
    @media screen and (min-width: 38em) {
        font-size: 50px;
        font-size: 5rem;
    }
    @media screen and (min-width: 60em) {
        font-size: 70px;
        font-size: 7rem;
    }
}

img {
    max-width: 100%;
    height: auto;
}
