@import "reset";

body {
    background: white;
}

.wrap {
    margin: 0 auto;
    max-width: 1200px;
    background: #eee;
}

.site-header .title {

}

.site-header nav {

}

p {
	margin-bottom: 1em;
}

.social a {
    text-decoration: none;
}
