<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/css/main.css">
	<meta name="google-site-verification" content="sBAxJpYrDUHa1wGXw__gzzSqJu38Ohi2tVOzSNsmz-0" />
</head>
<body>

<div class="site">
	<div class="header">
		<h1 class="title"><a href="/">{{ site.name }}</a></h1>
		<nav>
			<a href="/about/">about</a>
		</nav>
	</div>

	{{ content }}

	<div class="footer">
		<div class="contact">
			<p>thadknowsweb@gmail.com</p>
		</div>
		<div class="contact">
			<p>
				<a href="https://github.com/thadbloom">github.com/thadbloom</a><br />
				<a href="https://twitter.com/thadbloom">twitter.com/thadbloom</a>
			</p>
		</div>
	</div>
</div>

</body>
</html>
